body::-webkit-scrollbar{
    width: 8px; 
    height: 10px;
    border-radius: 20px;
}
  
body::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.425); /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: orange; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgba(128, 128, 128, 0.425); /* creates padding around scroll thumb */
}

.menu{
    width: 100%!important;
    margin: 0px!important;
    height: 80px;
    color: white;
    background-color: black;
    display: flex;
}

.menu div:nth-child(1){
    width: 15%;
    height: 80px;
}

.menu div:nth-child(1) object{
    width: 80px;
    height: 80px;
    margin-left: 40px;
}


.menu div:nth-child(2){
    width: 85%;
    height: 80px;
}

.menu div:nth-child(2) ul{
   display: flex;
   justify-content: space-around;
   list-style: none;
   height: 80px;
}

.menu div:nth-child(2) ul li{
    height: 80px;
    align-items: center;
    padding-top: 24px;
 }

.menu div:nth-child(2) ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.menu div:nth-child(2) ul li:nth-child(3) a{
    color: orange!important;
}

.filtres{
    width: 95%;
    margin-left: 2.5%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filtres select,input{
    width: 12%!important;
}


#filtr{
    width: 12%!important;
}


.tries{
    width: 60%;
    margin-left: 37.5%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tries select{
    width: 38%!important;
}


.tries button{
    width: 22%!important;
}

