body::-webkit-scrollbar{
    width: 8px; 
    height: 10px;
    border-radius: 20px;
}
  
body::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.425); /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: orange; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgba(128, 128, 128, 0.425); /* creates padding around scroll thumb */
}

.menu{
    width: 100%!important;
    margin: 0px!important;
    height: 80px;
    color: white;
    background-color: black;
    display: flex;
}

.menu div:nth-child(1){
    width: 15%;
    height: 80px;
}

.menu div:nth-child(1) object{
    width: 80px;
    height: 80px;
    margin-left: 40px;
}


.menu div:nth-child(2){
    width: 85%;
    height: 80px;
}

.menu div:nth-child(2) ul{
   display: flex;
   justify-content: space-around;
   list-style: none;
   height: 80px;
}

.menu div:nth-child(2) ul li{
    height: 80px;
    align-items: center;
    padding-top: 24px;
 }

.menu div:nth-child(2) ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.menu div:nth-child(2) ul li:nth-child(5) a{
    color: orange!important;
}

.parametres{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30%;
    height: auto;
    padding: 25px;
}

.parametre{ 
    width: 100%;
    display: block;
}

.send{
    width: 20%;
    margin-left: 70%;
}

.parametre label{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 19px;
    color: gray;
}

.diaporama{
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}

.diaporama p{
    color: gray;
    font-size: 18px;
    font-weight: 600;
}

.element{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 40px;
}

.element input{
    width: 48%!important;
}

.typeElement{
    color: rgb(83, 83, 83);
    font-size: 22px;
    font-weight: 600;
    margin-left: 9%;
}

.diaporama button{
    margin-left: 70%;
}