body::-webkit-scrollbar{
    width: 8px; 
    height: 10px;
    border-radius: 20px;
}
  
body::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.425); /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: orange; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgba(128, 128, 128, 0.425); /* creates padding around scroll thumb */
}

.divmenu{
    width: 100%;
    height: 120px;
    display: block;
}

.contact{
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.868);
    color: white;
    margin: 0px;
    align-items: center;
}

.contact div:nth-child(2){
    display: flex;
    padding-left: 60px;
}

.contact div:nth-child(2) a img{
    width: 25px!important;
    height: 25px!important;
    margin-left: 30px;
    background-color: inherit;
}

.contact div:nth-child(1){
   display: flex;
   padding-left: 250px;
}

.contact div:nth-child(1) a{
   text-decoration: none;
   color:rgb(145, 145, 145) ;
   font-size: 17px;
   font-weight: 500;
   margin-left: 25px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu{
    width: 100%!important;
    margin: 0px!important;
    height: 80px;
    color: white;
    background-color: black;
    align-items: center;
}

.menu div:nth-child(1){
    display: flex;
    justify-content: center;
}
.menu div:nth-child(1) object{
    width: 80px;
    height: 90px;
    object-fit: contain;
    background-color: inherit;
    color: white;
}

.menu div:nth-child(2) ul{
    list-style: none;
}

.menu div:nth-child(2) ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.recettes{
    min-height: 470px;
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart{
    height: 570px;
    width: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: rgb(203, 203, 203) solid 1px;
    margin: 8px;
}

.info{
    display: none!important;
}

.cart img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius:6px 6px 0px 0px;
}

.cardBody{
    width: 100%;
    height: 270px;
}
.cardBody h5{
    width: 100%;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.25rem;
}

.cardBody p{
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.cardBody a{
    display: inline-block;
    height: 35px;
    width: 32%;
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    margin-left: 5%;
    border-radius: 6px;
    font-weight: 500;
}

.divmenu li:nth-child(2) a{
    color: orange!important;
    font-size: 13px!important;
    font-weight: 700!important;
}










