body{
    overflow-x: hidden;
    height: 2000px;
    position: relative;
    padding-top: 40px;
}

body::-webkit-scrollbar{
    width: 8px; 
    height: 10px;
    border-radius: 20px;
}
  
body::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.425); /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: orange; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgba(128, 128, 128, 0.425); /* creates padding around scroll thumb */
}
.divmenu{
    width: 100%;
    height: 120px;
    display: block;
    position: absolute;
    top: 0px;
}

.menu div:nth-child(2) ul li.col:nth-child(1) a{
    color: orange!important;
    font-size: 13px!important;
    font-weight: 700!important;
}

.contact{
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.868);
    color: white;
    margin: 0px;
    align-items: center;
}

.contact div:nth-child(2){
    display: flex;
    padding-left: 60px;
}

.contact div:nth-child(2) a img{
    width: 25px!important;
    height: 25px!important;
    margin-left: 30px;
    background-color: inherit;
}

.contact div:nth-child(1){
   display: flex;
   padding-left: 250px;
}

.contact div:nth-child(1) a{
   text-decoration: none;
   color:rgb(145, 145, 145) ;
   font-size: 17px;
   font-weight: 500;
   margin-left: 25px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu{
    width: 100%!important;
    margin: 0px!important;
    height: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    align-items: center;
}

.menu div:nth-child(1){
    display: flex;
    justify-content: center;
}
.menu div:nth-child(1) object{
    width: 80px;
    height: 90px;
    object-fit: contain;
    background-color: inherit;
    color: white;
}

.menu div:nth-child(2) ul{
    list-style: none;
}

.menu div:nth-child(2) ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.slider{
    width: 100%;
    overflow: hidden;
    height: 600px;   
}


.categorie{
    width: 95%;
    overflow-x: scroll;
    height: 540px; 
    margin-left: 2.5%;
    border-radius: 7px;
    border: solid rgba(0, 0, 0, 0.694) 1px;
}


.categorie::-webkit-scrollbar{
    width: 8px; 
    height: 10px;
    border-radius: 20px;
}
  
.categorie::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.425); /* color of the tracking area */
}
  
.categorie::-webkit-scrollbar-thumb {
    background-color: orange; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 1px solid rgba(128, 128, 128, 0.425); /* creates padding around scroll thumb */
}


.diaporama{
    width: 500%;
    height: 600px!important;
    display: flex;
    animation-name: anim1;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.categorie_content{
    width: 250%;
    height: 500px!important;
    margin-top: 20px;
    display: flex;
    justify-content: space-around; 
}

.nom_categorie{
    width: 18%;
    height: 55px;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 7%;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #0d6efd;
}

.slide{
    width: 20%!important;
    height:600px!important;
    position: relative;
}

.slide object{
    position: absolute;
    object-fit: fill;
}

.slide a{
    position: absolute;
    top:330px;
    left: 210px;
    width: 20%;
    height: 70px;
}

.slide a button{
    width: 100%;
    height: 70px;
    border-radius: 35px;
    background-color: inherit;
    font-style: italic;
    font-size: 27px;
    font-weight: 600;
    color: white;
    border: 3px white solid;
}

.diaporama:hover{
    animation-play-state: paused;
}


@keyframes anim1
{
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-20%);
    }
    50%{
        transform: translateX(-40%);
    }
    75%{
        transform: translateX(-60%);
    }
    100%{
        transform: translateX(-80%);
    }
}


.cart{
    height: 500px;
    width: 8.5%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: rgb(203, 203, 203) solid 1px;
}

.info{
    display: none!important;
}

.cart img{
    width: 100%;
    height: 265px;
    object-fit: cover;
    border-radius:6px 6px 0px 0px;
}

.cardBody{
    width: 100%;
    height: 235px;
}
.cardBody h5{
    width: 100%;
    height: 55px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.25rem;
}

.cardBody p{
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.cardBody a{
    display: inline-block;
    height: 35px;
    width: 32%;
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 3px;
    margin-left: 5%;
    border-radius: 6px;
    font-weight: 500;
}



.login{
    position: relative;
    cursor: pointer;
}

.login ul{
    position: absolute;
    top:38px;
    color: black;
    left: 0px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 3px 3px 3px gray;
    padding-right: 20px;
    padding-top: 5px;
    height:auto ;
    padding-bottom: 10px;
    text-align: start;
    font-weight: 600;
    display: none;
}

.login:hover ul{
    display: block;
}

.login ul li{
    height: 33px;
}

.login ul li a{
    color: black!important;
}







